*{
  box-sizing: border-box;
  
}

[class*="col-"]{
  float:left;
  padding: 5px;

}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10{ width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-offset-1{
  margin-left: 8.33%;
}

.col-offset-2{
  margin-left: 16.66%;
}

.col-offset-3{
  margin-left: 25%;
}

.col-offset-4{
  margin-left: 33.33%;
}

.col-offset-5{
  margin-left: 41.66%;
}
.col-offset-6{
  margin-left: 50%;
}

.col-offset-7{
  margin-left: 58.33%;
}
.col-offset-8{
  margin-left:66.66%;
}
.col-offset-9{
  margin-left: 75%;
}
.col-offset-10{
  margin-left: 83.33%;
}
.col-offset-11{
  margin-left: 91.66%;
}
.col-offset-12{
  margin-left: 100%;
}

.card{
  border-bottom: 1px solid #E7EEF2;
}

.row{
margin: 10px;
}

input[type=text]{
  width: 350px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 5px;
padding-top: 12px;
padding-bottom: 12px;
padding-left: 40px;
 border: 2px solid #ccc;
  -webkit-transition: width 0.3s ease-in-out;
  background-image: url('js/search.png');
  background-position: 5px 5px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

input[type=text]:focus{
  width: 100%;
}

.banner{
  background-color: #ccc;
  padding-top: 60px;
  padding-bottom: 60px;
}

body {
    font-family: "Lato", sans-serif;
}
